<div class="story-body">
  <p>According to a study by The Association of State Correctional Administrators and Yale Law School, one in three prisoners in solitary confinement has a mental illness. 
    There may be a link between solitary confinement and mental illness on a mass, not individual, scale.
 </p>

 <p>Here are the numbers. Out of 8488 prisoners in solitary confinement:
	One out of three prisoners have mental illness.
	Among those in suicide watch, seven out of 10 prisoners have mental illness.
	One percent of prisoners without mental illness are in suicide watch, however, five percent of prisoners with mental illness are in suicide watch.
</p>
 
</div>