<div class="story-body">
  <p>According to a study by The Association of State Correctional Administrators and Yale Law School, one in three prisoners in solitary confinement has a mental illness.
 </p>
 
</div>